.boton__registro{
    width: 9rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--color-botones);
    border: 10px solid var(--color-botones);
    font-family: var(--letras-marca);
}

.boton__registro:hover{
    cursor: pointer;
}