:root{
    --color-encabezado: #256412; 
    --letras-marca: 'Alkatra', cursive;
    --color-blanco: #ffffff; 
}

.encabezado{
    padding: 20px 0;
    background-color: var(--color-encabezado);
}

.encabezado__contenedor{
    width: 90vw;
    margin: 0 auto;
}

.encabezado__contenedor--principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}