:root{
    --color-encabezado: #0a4d68; 
    --color-blanco: #ffffff; 
    --color-diferenciales: #05BFDB;
    --color-botones: #36b6f5; 
    --letras-marca: 'Alkatra', cursive;
}

.encabezado{
    padding-top: 20px;
    background-color: var(--color-encabezado);
}

.encabezado__contenedor{
    width: 90vw;
    margin: 0 auto;
}

.encabezado__contenedor--principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}