.encabezado__promociones{
    padding: 20px 0;
    background-image: url("/imagenes/peakpx.jpg");
    background-size: cover;
}

.encabezado__contenedor--promociones{
    width: 90vw;
    margin: 0 auto;
    height: 25rem;
}

.disenio{
    display: flex;
    flex-direction: column;
    justify-content: end;
}