.informacion__agregar{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-negro);
    padding: 1rem;
    margin-bottom: 2rem;
    width: 60vw;
}

.agregar{
    width: 95%;
    margin: 0 0;
    border: none;
    font-size: 1.6rem;
}

.titulo__agregar{
    margin: 0 0;
    font-size: 1.5rem;
}

.descripcion{
    width: 95%;
    margin: .5rem 0 0 0;
    border: none;
    font-size: 1.6rem;
    height: 10rem;
}

.btnAgregar{
    width: 40%;
    height: 5rem;
}

.boton__menu{
    width: 18rem;
    height: 4.5rem;
    background-color: var(--color-botones);
    border: 2px solid var(--color-botones);
    font-size: 1.8rem;
    font-family: var(--letras-marca);
}

.menu{
    padding: 1.5rem;
}

.boton__menu:hover{
    cursor: pointer;
}