.footer{
    padding: 25px 0;
    background-color: var(--color-footer);
}

.footer__contenedor{
    width: 90vw;
    margin: 0 auto;
}

.descripcion--derechos{
    text-align: center;
    font-size: 1.45rem;
    font-family: var(--letras-contenido);
}

.link__footer{
    text-decoration: none;
    color: var(--color-negro);
}